@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply tw-scroll-smooth tw-font-body;
    color-scheme: light;
  }

  [data-theme-mode="dark"] {
    color-scheme: dark;
  }

  body {
    @apply tw-relative tw-overflow-x-hidden tw-bg-body-light-1 tw-text-base tw-font-normal tw-text-body-light-11 dark:tw-bg-body-dark-1 dark:tw-text-body-dark-11;
  }

  [tabindex] {
    @apply tw-outline-none;
  }

  img {
    @apply tw-w-auto tw-max-w-full;
  }

  a {
    @apply tw-text-balance tw-break-words tw-text-primary-light-11 tw-no-underline hover:tw-text-primary-light-10 dark:tw-text-primary-dark-11 dark:hover:tw-text-primary-dark-10;
  }

  a,
  button {
    @apply tw-cursor-pointer;
  }

  button,
  input,
  select,
  textarea {
    @apply tw-border-0 tw-bg-inherit tw-text-inherit tw-outline-none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  ul,
  ol {
    @apply tw-list-none;
  }

  strong {
    @apply tw-font-bold tw-text-body-light-12 dark:tw-text-body-dark-12;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tw-m-0 tw-text-pretty tw-font-heading tw-font-bold tw-text-body-light-12 dark:tw-text-body-dark-12;
  }

  h1 {
    @apply tw-text-5xl/tight;
  }
  h2 {
    @apply tw-text-4xl/tight;
  }
  h3 {
    @apply tw-text-3xl/tight;
  }
  h4 {
    @apply tw-text-2xl/tight;
  }
  h5 {
    @apply tw-text-xl/tight;
  }
  h6 {
    @apply tw-text-sm/tight;
  }
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    @apply tw-mt-6;
  }

  p {
    @apply tw-m-0 tw-text-[1em]/normal;
  }
  p + p {
    @apply tw-mt-5;
  }
  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6 {
    @apply tw-mt-8;
  }
}

@layer components {
  .rh-button {
    @apply tw-inline-block tw-text-nowrap tw-rounded-full tw-border tw-border-solid tw-border-transparent tw-bg-inherit tw-px-8 tw-py-3.5 tw-text-center tw-font-medium tw-leading-normal tw-text-inherit tw-transition-colors tw-duration-300 hover:tw-bg-inherit hover:tw-text-inherit focus:tw-bg-inherit focus:tw-text-inherit;
  }

  .rh-section-area {
    @apply tw-relative tw-overflow-hidden tw-bg-body-light-1 tw-py-14 md:tw-py-24 dark:tw-bg-body-dark-1;
  }
  .rh-section-area:nth-child(even) {
    @apply tw-bg-body-light-2 dark:tw-bg-body-dark-2;
  }

  .rh-form-label {
    @apply tw-mb-2 tw-block;
  }
  .rh-form-text {
    @apply tw-mt-1 tw-text-sm/normal tw-text-body-light-10 dark:tw-text-body-dark-10;
  }
  .rh-form-control {
    @apply tw-block tw-w-full tw-appearance-none tw-rounded-lg tw-border tw-border-solid tw-border-body-light-a6 tw-bg-body-light-2 tw-bg-clip-padding tw-px-5 tw-py-3 tw-text-base tw-font-normal tw-text-body-light-11 tw-outline-none focus:tw-border-primary dark:tw-border-body-dark-a6 dark:tw-bg-body-dark-1 dark:tw-text-body-dark-11;
  }
  .rh-form-control[type="file"] {
    @apply tw-overflow-hidden;
  }
  .rh-form-control[type="file"]:not(:disabled):not([readonly]) {
    @apply tw-cursor-pointer;
  }
  .rh-form-control::-webkit-date-and-time-value {
    @apply tw-m-0 tw-h-[1.75em] tw-min-w-[85px];
  }
  .rh-form-control::-webkit-datetime-edit {
    @apply tw-block tw-p-0;
  }
  .rh-form-control::-moz-placeholder,
  .rh-form-control::-webkit-input-placeholder,
  .rh-form-control:-ms-input-placeholder,
  .rh-form-control::-ms-input-placeholder,
  .rh-form-control::placeholder {
    @apply tw-text-body-light-11 tw-opacity-60 dark:tw-text-body-dark-11;
  }
  .rh-form-control:disabled {
    @apply tw-bg-body-light-3 tw-opacity-100 dark:tw-bg-body-dark-3;
  }
  .rh-form-check {
    @apply tw-mb-0.5 tw-block tw-min-h-6 tw-pl-[1.75em];
  }
  .rh-form-check .rh-form-check-input {
    @apply tw-float-left -tw-ml-[1.75em];
  }
  .rh-form-check-reverse {
    @apply tw-pl-0 tw-pr-[1.75em] tw-text-right;
  }
  .rh-form-check-reverse .rh-form-check-input {
    @apply tw-float-right -tw-mr-[1.75em] tw-ml-0;
  }
  .rh-form-check-inline {
    @apply tw-mr-4 tw-inline-block;
  }
  .rh-form-check-input {
    @apply tw-bg-form-check-input tw-mt-1 tw-h-[1em] tw-w-[1em] tw-cursor-pointer tw-appearance-none tw-border tw-border-solid tw-border-body-light-a6 tw-bg-body-light-1 tw-bg-contain tw-bg-center tw-bg-no-repeat tw-align-top dark:tw-border-body-dark-a6 dark:tw-bg-body-dark-2;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .rh-form-check-input[type="checkbox"] {
    @apply tw-rounded-[0.25em];
  }
  .rh-form-check-input[type="radio"] {
    @apply tw-rounded-full;
  }
  .rh-form-check-input:active {
    @apply tw-brightness-90;
  }
  .rh-form-check-input:focus {
    @apply tw-border-primary-light-8 tw-outline-none dark:tw-border-primary-dark-8;
  }
  .rh-form-check-input:checked {
    @apply tw-border-primary tw-bg-primary;
  }
  .rh-form-check-input[type="checkbox"]:checked {
    --rh-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }
  .rh-form-check-input[type="radio"]:checked {
    --rh-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  }
  .rh-form-check-input[type="checkbox"]:indeterminate,
  .rh-form-check-input[type="checkbox"][indeterminate] {
    @apply tw-border-primary tw-bg-primary;
  }
  .rh-form-check-input:disabled {
    @apply tw-pointer-events-none tw-opacity-50 tw-filter-none;
  }
  .rh-form-check-label {
    @apply tw-cursor-pointer tw-select-none tw-text-base tw-text-body-light-11 dark:tw-text-body-dark-11;
  }
}

@layer utilities {
  .rh-disabled,
  :disabled {
    @apply !tw-pointer-events-none !tw-select-none !tw-opacity-65;
  }

  .rh-bg-body {
    @apply tw-bg-body-light-1 dark:tw-bg-body-dark-1;
  }
  .rh-bg-body-secondary {
    @apply tw-bg-body-light-2 dark:tw-bg-body-dark-2;
  }

  .rh-text-body {
    @apply tw-text-body-light-11 dark:tw-text-body-dark-11;
  }
  .rh-text-emphasis {
    @apply tw-text-body-light-12 dark:tw-text-body-dark-12;
  }
}

.lds-ripple,
.lds-ripple div {
  @apply tw-box-border;
}
.lds-ripple {
  @apply tw-relative tw-inline-block tw-h-[80px] tw-w-[80px] tw-text-primary;
}
.lds-ripple div {
  @apply tw-absolute tw-rounded-full tw-border-4 tw-border-solid tw-border-current tw-opacity-100;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    @apply tw-left-9 tw-top-9 tw-h-2 tw-w-2 tw-opacity-0;
  }
  4.9% {
    @apply tw-left-9 tw-top-9 tw-h-2 tw-w-2 tw-opacity-0;
  }
  5% {
    @apply tw-left-9 tw-top-9 tw-h-2 tw-w-2 tw-opacity-100;
  }
  100% {
    @apply tw-left-0 tw-top-0 tw-h-[80px] tw-w-[80px] tw-opacity-0;
  }
}

.rh-navbar.isSticky {
  @apply tw-border-body-light-a3 tw-bg-body-light-1 tw-bg-opacity-75 tw-backdrop-blur dark:tw-border-body-dark-a3 dark:tw-bg-body-dark-1 dark:tw-bg-opacity-75;
}
.rh-navbar.menuShow {
  @apply tw-bg-opacity-100 tw-backdrop-blur-0 dark:tw-bg-opacity-100;
}
.rh-navbar.menuShow .rh-navbar-collapse {
  @apply tw-visible tw-translate-y-0 tw-opacity-100;
}
.rh-navbar-link.isActive {
  @apply tw-text-primary;
}

[data-web-trigger="scroll-top"].isShow {
  @apply tw-visible tw-opacity-100;
}

#spotlight {
  font-family: inherit;
}

pre[class*="language-"] {
  @apply tw-rounded-lg tw-px-5 tw-py-0;
}

.tech-stacks > .tech-stacks-wrapper.animated {
  animation: tech-stacks 20s linear infinite;
}

@keyframes tech-stacks {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.tech-stacks.invert-direction > .tech-stacks-wrapper.animated {
  animation: tech-stacks-invert 20s linear infinite;
}

@keyframes tech-stacks-invert {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.rh-pagination .rh-pagination-link.isActive {
  @apply tw-bg-primary tw-text-white;
}
